.App {
  text-align: center;
  background: linear-gradient(120deg, rgba(220,237,248), rgb(199,221,236));
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Components-area {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
